.content{
    display: flex;
    width: 100%;
    font-size: 1rem;
}

.content button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border:none;
    padding: 1em;
    border-radius: 9px;
    background: var(--primary);
    color: var(--text-primary);
}

.content button:hover {
    background: var(--primary-light);
    box-shadow: 7px 5px 56px -14px var(--primary-light);
}

.content button:active {
    transform: scale(1);
    box-shadow: 7px 5px 56px -10px var(--primary-light);
}