<app-modal-popup [(isVisible)]="isVisible" title="Warning" 
[buttons]="buttons" >

    <div *ngIf="itemsAdding; else elseBlock">
        <p>Are you sure you want to move <b>{{itemsAdding}}</b> item from <b>{{pathFrom}}</b> to <b>{{destPath}}</b>?
        </p>
    </div>

    <ng-template #elseBlock>
        <p>Are you sure you want to move <b>{{itemsAdding}}</b> items from <b>{{pathFrom}}</b> to <b>{{destPath}}</b>?
        </p>
    </ng-template>

    <app-radio-button [props]="dontAskAgainRadioButton">
        <p>Don't ask again</p>
    </app-radio-button>

</app-modal-popup>