.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    /* Creates space between items */
    padding: .2em;
    padding-left: 1em;
    gap: .3em;
    margin: .2em;
    align-items: center;
}

.pin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file {
    display: flex;
    font-size: 1em;
    background-color: var(--bg-primary);
    border: 0px;
    padding: .2em;
    padding-left: .5em;
    padding-right: .5em;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;

}

label {
    text-wrap: nowrap;
    pointer-events: none;
    color: var(--text-primary);
}

button {
    transform: all .5s ease;
}

button:hover {
    background-color: var(--select-transparent);
}

.file-container {
    position: relative;
    justify-content: center;

}

.tooltiptext {
    position: absolute;
    z-index: 3222;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    background: var(--bg-primary);
    border-radius: 8px;
    color: var(--primary);
    font-weight: 400;
    font-size: .8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.tooltiptext::after {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    top: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background-color);
}


.file-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}