:host {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
}

.content {
    height: 80vh;
    overflow-x: hidden;
}

.item {
    margin-right: 1em;
    margin-left: 1em;
}