:host {
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
    flex: 1;
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
