<div class="window-chrome">
    <div class="title-bar">
        <!-- <app-app-icon-name /> -->
    </div>
    <div class="window-controls">
        <button class="minimize" (click)="minimizeApp()">
            <iconify-icon icon="minimize" size="1rem"/>
        </button>
        <button class="maximize" (click)="toggleMaximize()">
            <iconify-icon icon="maximize" size="1rem"/>
        </button>
        <button class="close" (click)="closeApp()">
            <iconify-icon icon="close" size="1rem"/>
        </button>
    </div>
</div>