<div class="window-chrome">
    <div class="drag-area"></div>

    <div class="buttons">
        <button class="minimize" (click)="minimizeApp()">
            <iconify-icon icon="minimize" size="1.2rem"/>
        </button>
        <button class="maximize" (click)="toggleMaximize()">
            <iconify-icon icon="maximize" size="1.2rem"/>
        </button>
        <button class="close" (click)="closeApp()">
            <iconify-icon icon="close" size="1.2rem"/>
        </button>
    </div>

</div>