.window-chrome {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: var(--bg-primary); 
    color: var(--text-primary);
}

.title-bar {
    flex: 1;
    height: 100%;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
}

.window-controls {
    display: flex;
    height: 100%;
}

.window-controls button {
    display: flex;
    font-size: 1.6em;
    width: 48px;
    height: 100%;
    border: none;
    cursor: pointer;
    -webkit-app-region: no-drag;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;
}

.maximize:hover, .minimize:hover {
    background-color: var(--select-primary);
}

.close:hover {
    color: white;
    background-color: rgb(224, 0, 0);
}