<div class="modal-backdrop" *ngIf="isVisible">

    <div class="modal">

        <div class="modal-header">
            <label>{{ title }}</label>
            <button class="close-btn" (click)="close()">×</button>
        </div>

        <div class="modal-body">
            <ng-content></ng-content>
        </div>

        <div class="modal-footer">
            <div *ngFor="let button of buttons">
                <button (click)="onButtonClick(button.action)">{{button.text}}</button>
            </div>



            <div *ngFor="let button of radioButtons">
                <app-radio-button (onToggle)="button.onToggle($event)" [isChecked]="button.isChecked">
                    {{button.text}}
                </app-radio-button>
            </div>

        </div>

        

    </div>

</div>