.content {
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin-left: 20px;
}

.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: row;
}

.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    width: 100%;
}

input {
    min-width: 15em;
}

h1 {
    font-size: 1.8em;
}

.padding {
    margin-top: 6em;
}
