<div class="content">

    <app-sidebar></app-sidebar>

    <div class="main-layout">
        <div class="heading">

            <button>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button> 

            <button (click)="onNavigateBackDirectoryClick()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>

            <app-current-directory-bar />

                <app-searchbar/>



        </div>

        <app-files-display [files]="driveFiles" />

    </div>

</div>