.content {
    display: flex;
    height: 100%;
    flex-direction: row;
    margin-left: 20px;
    overflow-y: hidden;
}

.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
}

.heading {
    display: flex;
    flex-direction: row;
}

.heading button {
    border: 0px;
    border-radius: 50px;
    transition:
        background-color 0.15s ease,
        color 0.01s ease;
}

.heading button:hover {
    letter-spacing: 3px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    width: 100%;
}

input {
    min-width: 15em;
}

h1 {
    font-size: 1.8em;
}

.padding {
    margin-top: 6em;
}
