<div class="content">

    <app-sidebar></app-sidebar>

    <div class="main-layout">
        <div class="heading">

            <app-current-directory-bar />

            <div class="search-container">
                <app-searchbar [searchFunction]="search.bind(this)" />

                <div class="search-results">
                    <div *ngFor="let result of searchResults">
                        <app-file-result [file]="result" />
                    </div>
                </div>
            </div>

        </div>

        <app-files-display [files]="driveFiles"/>
    </div>

</div>