.content{
    display: flex;
    color: var(--text-primary);
    align-items: center;
    padding: .1em;
    padding-bottom: 1em;
}

.name{
    margin-left: .4em;
}

.name .version{
    color: var(--text-muted);
    font-size: .6em;
    margin-left: .2em;
}