.content{
    display: flex;
    color: var(--text-primary);
    align-items: center;
    padding: .1rem;
    padding-bottom: 1rem;
}

.name{
    padding-top: .5rem;
    margin-left: .4rem;
    line-height: 1rem;
    font-size: .7rem;
}

.name .version{
    color: var(--text-muted);
    font-size: .6rem;
    margin-left: .2rem;
}