:host {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
    display: flex;
    flex: 1;
}

.app-name {
    font-family: "Jaro";
    color: var(--primary);
    font-size: 1.4em;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    max-width: 15em;
    background-color: var(--bg-dark);
    padding: 1em;
    justify-content: space-between;
}

.top {
    display: flex;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.divider {
    display: block;
    border-radius: 10px;
    height: 5px;
    background-color: var(--secondary-color);
    margin-top: 10px;
    margin-bottom: 10px;
}
