.content {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  border: 0px;
  border-radius: 10px;

  margin: 0.2em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all ease 100ms;
  overflow: hidden;
}

.content.selected {
  background-color: var(--select-primary);
}

.content.altcolor {
  background-color: var(--alt);
}

.content.hide {
  background-color: transparent;
}

.content-left {
  align-items: center;
  display: flex;
  width: 100%;
  gap: 0.5em;
}

.icon {
  width: 200px;
}

.name {
  flex-direction: column;
  font-size: 1.05em;
  display: flex;
  line-height: 0;
  align-items: stretch;
  width: 100%;
  text-wrap: wrap;
  text-align: left;
  color: var(--text-primary);
}

.name.hide {
  color: var(--text-muted);
}

.metadata {
  display: flex;
  gap: 0px;
  margin: 0px;
  padding-left: .2rem;
  font-size: 0.6rem;
  color: var(--text-muted);
  align-self: flex-start;
  white-space: nowrap;
}

button:hover,
button.grow {
  color: #ffffff;
  transform: scale(1.01);
  box-shadow: 4px 5px 17px -4px var(--primary);
}