:root {
    $background-color-dark: #121212;
    $background-secondary-dark: #333333;
    $background-transparent-dark: #33333389;
    $background-darker-dark: #252525;
    $background-ambient-dark: #231c2c;
    $primary-color-dark: #1b1b1b;
    $primary-darker-dark: #37345a;
    $contrast-color-dark: #ffffff;
    $font-color-dark: #3d7bff;
    $secondary-color-dark: #3478ff;
    $secondary-color-contrast-dark: #ffffff;
    $selected-color-dark: #82c2ff;
    $third-color-dark: #b38bff;
    $fourth-color-dark: #34aeff;
}

$background-color-light: #ffffff;
$background-secondary-light: #ffeaea;
$background-transparent-light: #ffffff89;
$background-darker-light: #eeeeee;
$background-ambient-light: #d1eeff;
$primary-color-light: #ffffff;
$primary-darker-light: #a0d0ff;
$contrast-color-light: #000000;
$font-color-light: #000000;
$secondary-color-contrast-light: #ffffff;
$secondary-color-light: #3456ff;
$selected-color-light: #82c2ff;
$third-color-light: #9a34ff;
$fourth-color-light: #ff34a4;
