<div class="content">
    <div *ngFor="let file of pinnedFiles">

        <div class="file-container">

            <button class="file" (click)="onFileClick(file)" (contextmenu)="onFileRightClick($event,file)">

                <span class="pin">
                    <iconify-icon icon="pin" size="1.2em" color="--text-primary" />
                    <label>{{processFilename(file.Name)}}</label>
                </span>

                <div *ngIf="file.IsDirectory; else elseBlock" class="icon">
                    <iconify-icon icon="folder" size="1.2em" />
                </div>

                <ng-template #elseBlock class="icon">
                    <iconify-icon [icon]="getIcon(file)" color="--text-primary" size="1.2em" />
                </ng-template>

            </button>
            <div class="tooltiptext">{{file.FilePath}}</div>
        </div>

    </div>
</div>
<app-context-menu #contextMenu />