.tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  border: 0px;
  background-color: var(--input);
  align-items: center;
  gap: 0.5rem;
  margin: 0.6rem;
  border-radius: 5px;
  padding: 0.2rem;
  padding-left: 0.5rem;
  min-width: 6rem;
  z-index:30;
}

.tab:hover {
  background-color: var(--select);
}

.tab label {
  font-size: 0.8rem;
}
