:host {
    flex: 1;
}

.InputContainer {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input[type="text"] {
    font-family: "Fredoka";
    font-size: 1.1em;
    height: 100%;
    border: none;
    outline: none;

    caret-color: var(--secondary-color);
    flex-grow: 1;
}
