<div class="InputContainer" #textInput>
  <!-- <input class="input" name="text" type="text" autocomplete="off" [(ngModel)]="truncatedDirectory" (click)="selectText()"
        #textInput [formControl]="inputControl" (ngModelChange)="onInputChange()" (blur)="onBlur()"
        (keydown.enter)="onEnterPressed()" /> -->

  <div *ngFor="let block of visibleDirectories" class="block">

    <li (click)="onBreadcrumbClicked(block)" class="breadcrumb">
      <label>
        {{block.section}}
      </label>
    </li>

  </div>
</div>
