label{
    color: inherit;
    font-size: inherit;
    pointer-events: none;
    text-wrap: inherit;
    overflow-wrap: anywhere;
    white-space: wrap;
}

label .highlight{
    color: var(--text-primary);
    background-color: var(--primary);
}
