.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.content-icon {
    margin-right: .5em;
}

.content label {
    color: var(--text-primary);
    font-size: .8em;
    text-wrap: nowrap;
}

.content-button {
    display: flex;
    z-index: 5;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    transition: .1s ease all;
    pointer-events: none;
    padding-right: .8em;
    padding-left: .8em;
    border-radius: 20px;
    box-sizing: border-box; 
}

.content-button.active {
    pointer-events: all;
}

.content-button.active:hover {
    background-color: var(--select-primary);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: .3em;
    box-sizing: border-box; 
}

.dropdown-button {

    align-items: center;
    border: 0px;
    border-radius: 20px;
    transition: .1s ease all;
}

