<div class="content">
    <div class="name">
        <button class="content-button" [ngClass]="{'active':onClick}">

            <iconify-icon *ngIf="icon" [icon]="icon" [color]="iconColor" size="1.5em" class="content-icon" />

            <label>
                {{text}}
            </label>
        </button>

        <button class="dropdown-button" (click)="onDropdownClick()" (mouseenter)="dropdownHoverEnter()"
            (mouseleave)="dropdownHoverExit()">
            <iconify-icon [icon]="dropDownIcon" [color]="dropdownColor" size="2em" />
        </button>
    </div>

    <div *ngIf="expanded" @dropdownAnimation>
        <ng-content></ng-content>
    </div>

</div>

<!--
<div class="colored">
    <app-custom-icon/>
</div>
-->