:host {
  flex: 1;
  min-width: 0px;
}

.search-container {
  display: flex;
  position: relative;
  min-width: 0px;
  height: 100%;
}

.search-container button {
  border: 0px;
  border-radius: 20px;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.4em;
  font-size: 1em;
  color: var(--primary);
  transition: 0.1s ease all;
}

.search-container button:hover {
  background-color: var(--select-transparent);
  color: var(--text-primary);
}

.InputContainer {
  padding: 0.1em;
  padding-left: .4em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--input);
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  min-width: 0px;
}

.input {
  color: var(--text-primary);
  background-color: transparent;
  display: flex;
  width: 100%;
  font-size: .9em;
  height: 100%;
  border: none;
  outline: none;
  caret-color: var(--primary);
  min-width: 0px;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
  min-width: 0px;
}

.searchIcon {
  width: 13px;
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.searchIcon path {
  fill: var(--primary);
}

.micIcon path {
  fill: var(--primary);
}

.micButton:hover {
  background-color: var(--ambient-color);
  transition-duration: 0.3s;
}

/* search results: */

.search-results {
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
  overflow-x: hidden;

  justify-content: space-between;
  position: absolute;
  margin-top: 2.2em;
  box-sizing: border-box;
  width: 100%;

  height: 80vh;
}

.search-results.active {
  box-shadow: 0 0.625em 1em 0 var(--bg-primary);
  background-color: var(--bg-primary);
  z-index: 5;
}

.search-results-scoller {
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-results.inactive {
  pointer-events: none;
  visibility: collapse;
}

.search-results button {
  align-self: center;
  display: flex;
}
