.content {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    border-left: 4px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--background-color);
    margin: 0.2em;
}

.name {
    font-size: 0.9em;
    display: flex;
    line-height: 0;
    justify-content: space-between;
}

.metadata p {
    line-height: 0.4;
    margin: 0px;
    font-size: 0.6em;
    color: var(--third-color);
}
