/* From Uiverse.io by TheAbieza */ 
.container {
    width: fit-content;
    gap: 10px
  }
  
  .folder {
    width: min-content;
    margin: auto;
    animation: float .7s infinite ease;
  }
  
  .folder .top {
    background-color: var(--primary);
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
  }
  
  .folder .bottom {
    background-color: var(--primary-light);
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px 0 0 #00000064;
    border-top-right-radius: 8px;
  }
  
  .container .title {
    font-size: .9em;
    color: var(--text-muted);
    text-align: center;
    margin-top: 15px;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  
  