<div
  class="content"
  [@fadeAnimation]="animationState"
  (dragover)="onMainDragOver($event)"
>
  <app-inline-search-bar />

    <cdk-virtual-scroll-viewport
      itemSize="32"
      style="height: 100%; width: 100%"
    >

      <div *cdkVirtualFor="let file of files; let i = index;" class="item">
        <app-file-result
          [file]="file"
          [state]="states[i]"
          [displayPath]="showFullFilePaths"
          [draggable]="true"
          (dragstart)="onFileDragStart($event, i, file)"
          (dragover)="onFileDragOver($event, file)"
          (drop)="onFileDrop($event, file)"
          (dragleave)="onFileDragLeave($event, file)"
          (dragend)="onFileDragEnd($event, file)"
          [selected]="selectedIndices.has(i)"
          (click)="onFileClick(i, $event)"
          (dblclick)="onFileDoubleClick(file)"
          (contextmenu)="this.onFileRightClick(file, $event)"
        />
      </div>
    </cdk-virtual-scroll-viewport>
</div>

<!-- The below items are disconnected from the main component's html -->
<app-move-items-popup #moveItemsPopup />

<app-generic-err-popup #genericErrPopup />

<app-context-menu #contextMenu />
