@font-face {
  font-family: "Jaro";
  src: url("./assets/fonts/Jaro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("./assets/fonts/REM-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  margin: 0px;
  --bg-primary: #1d1a2f;
  --bg-dark: #13121c;
  --bg-transparent: #1d1a2f89;

  --input: #2d2c31;

  --bg-grad1: #281c30;
  --bg-grad2: #1d171ffb;

  --primary: #ff2050;
  --primary-light: #ff5096;

  --text-primary: #ffffff;
  --text-muted: #c4c4c4;

  --icon: #ffffff;

  --select-transparent: #d0aaff71;
}

.light-theme {
  --background-color: #ffffff;
  --background-transparent: #ffffff89;
  --background-secondary: #ffeaea;
  --background-darker: #eeeeee;
  --background-ambient: #d1eeff;
  --primary-color: #ffffff;
  --primary-darker: #a0d0ff;
  --contrast-color: #000000;
  --font-color: #000000;
  --secondary-color: #3478ff;
  --secondary-color-contrast: #ffffff;
  --selected-color: #82c2ff;
  --third-color: #b38bff;
  --fourth-color: #34aeff;
  --icon-color: #138dff;
  --transparent-select-color: #7fddff9a;
}

html {
  background: radial-gradient(
    circle at 100% 107%,
    var(--bg-primary) 0%,
    var(--bg-grad1) 30%,
    var(--bg-grad2) 60%,
    var(--bg-primary) 100%
  );
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  min-width: 0px;
  overflow-y: hidden;
}

p,
h1,
h2,
h3,
h4,
label,
button {
  line-height: 1;
  margin: 0px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  font-size: 0.9em;

  min-width: 0px;
}

input {
  min-width: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/*
body {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}


* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}
*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
