@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  margin: 0px;
  --background-color: #121212;
  --background-transparent: #33333389;
  --background-secondary: #333333;
  --background-darker: #252525;
  --background-ambient: #231c2c;
  --primary-color: #1b1b1b;
  --primary-darker: #37345a;
  --contrast-color: #ffffff;
  --font-color: #3d7bff;
  --secondary-color: #3478ff;
  --secondary-color-contrast: #ffffff;
  --selected-color: #82c2ff;
  --third-color: #b38bff;
  --fourth-color: #34aeff;
  --icon-color: #fef6ff;
  --transparent-select-color: #3149ff9a;
}

.light-theme {
  --background-color: #ffffff;
  --background-transparent: #ffffff89;
  --background-secondary: #ffeaea;
  --background-darker: #eeeeee;
  --background-ambient: #d1eeff;
  --primary-color: #ffffff;
  --primary-darker: #a0d0ff;
  --contrast-color: #000000;
  --font-color: #000000;
  --secondary-color: #3478ff;
  --secondary-color-contrast: #ffffff;
  --selected-color: #82c2ff;
  --third-color: #b38bff;
  --fourth-color: #34aeff;
  --icon-color: #138dff;
  --transparent-select-color: #7fddff9a;
}

body,
html {
  background: radial-gradient(
    circle at 100% 107%,
    var(--background-color) 0%,
    var(--background-transparent) 30%,
    var(--background-ambient) 60%,
    var(--background-transparent) 100%
  );
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  min-width: 0px;
  overflow-y: hidden;
}

p,
h1,
h2,
h3,
h4,
label,
button {
  line-height: 1;
  margin: 0px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  font-size: 0.9em;

  min-width: 0px;
}

input {
  min-width: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/*
body {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}


* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}
*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
