:host {
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.top label{
    line-height: 1rem;
    margin-bottom: .5em;
}

.content label {
    color: var(--primary);
}