@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

:host {
    flex: 1;
    min-width: 0px;
}

.InputContainer {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-transparent);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    color: var(--contrast-color);
    background-color: transparent;
    font-family: "Fredoka";
    font-size: 1.1em;
    height: 100%;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    caret-color: var(--secondary-color);
    flex-grow: 1;
}

input:hover {
    cursor: pointer;
}
