<div class="content">
  <app-tabs-holder />
  <app-current-directory-bar />
  <div class="heading">
    <button (click)="onUndoClick()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button (click)="onRedoClick()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button (click)="onNavigateBackDirectoryClick()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <div #toolbarButtonContainer class="toolbar-buttons">
      <div *ngFor="let button of visibleUtilButtons">
        <app-util-button [type]="button" class="toolbar-button" />
      </div>
    </div>
    

    <!-- <button>
        <iconify-icon icon="dots" size="1.2rem"/>
      </button> -->

      <!-- <app-searchbar /> -->

  </div>

  <app-pinned-files-header />
</div>
