:host{
    margin-right: 1.2em;
}

.heading {
    display: flex;
    
    width: 100%;
    flex-direction: row;
}

.heading button {
    border: 0px;
    border-radius: 50px;
    transition:
        background-color 0.15s ease,
        color 0.01s ease;
    
}

.heading button:hover {
    letter-spacing: 3px;
    background-color: var(--transparent-select-color);
    color: var(--secondary-color);
}